@page "/lab"
@rendermode InteractiveServer

@using System.Runtime.InteropServices


<h3>Create Test</h3>
<button @onclick="CreateTest">Create Test</button>
<button @onclick="GetTestInfo">Get test info</button>


@if (createdTestId.HasValue)
{
        <p>Test ID: @createdTestId</p>
       
}

@if (testInfo.HasValue)
{
    <p>Algorithm: @testInfo.Value.recipe.testId.ToString()</p>
}

    <p>Algorithm: @testName.</p>

