Implementations/.vs/
Implementations/Debug/
Implementations/Implementations/.vs/
Implementations/Implementations/Debug/
Implementations/Implementations/Implementations/Debug/

Implementations/Implementations/x64/
Implementations/Implementations/Release/
Implementations/Release/
