Implementations/.vs/
Implementations/Debug/
Implementations/Implementations/.vs/
Implementations/Implementations/Debug/
Implementations/Implementations/Implementations/Debug/

Implementations/Implementations/x64/
Implementations/Implementations/Release/
Implementations/Release/
UnitTests/UnitTests/.vs/
UnitTests/UnitTests/Debug/
UnitTests/UnitTests/packages/
UnitTests/UnitTests/UnitTests/Debug/
UnitTests/UnitTests/UTRootsFinding/Debug/
UnitTests/UnitTests/UTRootsFinding/x64/
Implementations/TestApp/.vs/
Implementations/TestApp/Implementations/Debug/
Implementations/TestApp/Implementations/Release/
Implementations/TestApp/Implementations/x64/
Implementations/TestApp/Release/
UnitTests/UnitTests/UTAncas/Debug/
UnitTests/UnitTests/UTCatch/Debug/
TestedOBCApp/TestedOBCApp/TestedOBCApp/Release/
TestedOBCApp/TestedOBCApp/.vs/
Implementations/TestApp/Debug/
TestedOBCApp/TestedOBCApp/Debug/
TestedOBCApp/TestedOBCApp/Release/
TestedOBCApp/TestedOBCApp/TestedOBCApp/Debug/
Versions/
Code/Implementations/.vs/
Code/Implementations/TestApp/.vs/
Code/Implementations/TestApp/Debug/
Code/Implementations/TestApp/Implementations/Debug/
Code/Implementations/TestApp/Implementations/Release/
Code/Implementations/TestApp/Implementations/x64/
Code/Implementations/TestApp/Release/
Code/SGP4/CPP/SGP4DataGenerator/x64/
Code/SGP4/Python/.idea/
Code/TestedOBCApp/TestedOBCApp/.vs/
Code/TestedOBCApp/TestedOBCApp/Debug/
Code/TestedOBCApp/TestedOBCApp/Release/
Code/TestedOBCApp/TestedOBCApp/TestedOBCApp/Debug/
Code/TestedOBCApp/TestedOBCApp/TestedOBCApp/Release/
Code/UnitTests/UnitTests/.vs/
Code/UnitTests/UnitTests/Debug/
SGP4/CPP/SGP4DataGenerator/x64/
Code/UnitTests/UnitTests/UTRootsFinding/Debug/
Code/UnitTests/UnitTests/UTCatch/Debug/
Code/UnitTests/UnitTests/UTAncas/Debug/
Code/TestedOBCApp/TestedOBCApp/TestedOBCApp/Logger/
SGP4/CPP/SGP4DataGenerator/.vs/
Code/TestedOBCApp/TestedOBCAppCMake/LinuxRelease/
Code/TestedOBCApp/TestedOBCAppCMake/WindowsRelease/
