Implementations/.vs/
Implementations/Debug/
Implementations/Implementations/.vs/
Implementations/Implementations/Debug/
Implementations/Implementations/Implementations/Debug/

Implementations/Implementations/x64/
Implementations/Implementations/Release/
Implementations/Release/
UnitTests/UnitTests/.vs/
UnitTests/UnitTests/Debug/
UnitTests/UnitTests/packages/
UnitTests/UnitTests/UnitTests/Debug/
UnitTests/UnitTests/UTRootsFinding/Debug/
UnitTests/UnitTests/UTRootsFinding/x64/
Implementations/TestApp/.vs/
Implementations/TestApp/Implementations/Debug/
Implementations/TestApp/Implementations/Release/
Implementations/TestApp/Implementations/x64/
Implementations/TestApp/Release/
UnitTests/UnitTests/UTAncas/Debug/
